conf/test/apis/AirtelMoneyMerchantQueryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://www.zain.com/"
                     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
                     xmlns="" targetNamespace="http://www.zain.com/"
                     name="MerchantQueryWebServiceServiceDefinitions">
    <WL5G3N0:types>
        <xs:schema xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://www.zain.com/"
                   xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="java:com.obopay.ws.merchantquery.zain"
                   elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="java:javax.xml.datatype"/>
            <xs:complexType name="Response">
                <xs:sequence>
                    <xs:element type="xs:string" name="Referenceld" nillable="true" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the referenceld property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:int" name="Status" nillable="false" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the status property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="Msisdn" nillable="true" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the msisdn property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="FirstName" nillable="true" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the firstName property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="LastName" nillable="true" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the lastName property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:long" name="TransactionId" nillable="false" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the transactionId property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="PaymentDetails" nillable="true" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the paymentDetails property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element xmlns:java="java:javax.xml.datatype" type="java:XMLGregorianCalendar"
                                name="CreatedTimestamp" nillable="true"
                                minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the createdTimestamp property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:decimal" name="Amount" nillable="true" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the amount property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="Message" nillable="true" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the message property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RequestTransactionsResponse">
                <xs:sequence>
                    <xs:element type="xs:int" name="Status" nillable="false" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the status property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:int" name="TotalTransactions" nillable="false" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the totalTransactions property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:decimal" name="TotalAmount" nillable="true" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the totalAmount property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="Transactions" nillable="true" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the transactions property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="Message" nillable="true" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Gets the value of the message property.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://www.zain.com/"
                   xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="java:javax.xml.datatype" elementFormDefault="qualified"
                   attributeFormDefault="unqualified">
            <xs:complexType name="XMLGregorianCalendar">
                <xs:sequence>
                    <xs:element type="xs:int" name="Month" nillable="false" minOccurs="1"/>
                    <xs:element type="xs:int" name="Day" nillable="false" minOccurs="1"/>
                    <xs:element type="xs:int" name="Timezone" nillable="false" minOccurs="1"/>
                    <xs:element type="xs:int" name="Hour" nillable="false" minOccurs="1"/>
                    <xs:element type="xs:int" name="Minute" nillable="false" minOccurs="1"/>
                    <xs:element type="xs:int" name="Second" nillable="false" minOccurs="1"/>
                    <xs:element type="xs:int" name="Millisecond" nillable="false" minOccurs="1"/>
                    <xs:element type="xs:decimal" name="FractionalSecond" nillable="true" minOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://www.zain.com/"
                   xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://www.zain.com/" elementFormDefault="qualified"
                   attributeFormDefault="unqualified">
            <xs:import namespace="java:com.obopay.ws.merchantquery.zain"/>
            <xs:element name="RequestTransactionByTimeInterval">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="userName"/>
                        <xs:element type="xs:string" name="passWord"/>
                        <xs:element type="xs:string" name="timeFrom"/>
                        <xs:element type="xs:string" name="timeTo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RequestTransactionByTimeIntervalResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:java="java:com.obopay.ws.merchantquery.zain"
                                    type="java:RequestTransactionsResponse"
                                    name="RequestTransactionByTimeIntervalResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RequestTransactionByTimeIntervalDetailed">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="userName"/>
                        <xs:element type="xs:string" name="passWord"/>
                        <xs:element type="xs:string" name="timeFrom"/>
                        <xs:element type="xs:string" name="timeTo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RequestTransactionByTimeIntervalDetailedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:java="java:com.obopay.ws.merchantquery.zain"
                                    type="java:RequestTransactionsResponse"
                                    name="RequestTransactionByTimeIntervalDetailedResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RequestTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="userName"/>
                        <xs:element type="xs:string" name="passWord"/>
                        <xs:element type="xs:string" name="referenceId"/>
                        <xs:element type="xs:string" name="msisdn"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RequestTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:java="java:com.obopay.ws.merchantquery.zain" type="java:Response"
                                    name="RequestTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="RequestTransactionByTimeInterval">
        <WL5G3N0:part name="parameters" element="WL5G3N1:RequestTransactionByTimeInterval"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="RequestTransactionByTimeIntervalResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:RequestTransactionByTimeIntervalResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="RequestTransactionByTimeIntervalDetailed">
        <WL5G3N0:part name="parameters" element="WL5G3N1:RequestTransactionByTimeIntervalDetailed"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="RequestTransactionByTimeIntervalDetailedResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:RequestTransactionByTimeIntervalDetailedResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="RequestTransaction">
        <WL5G3N0:part name="parameters" element="WL5G3N1:RequestTransaction"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="RequestTransactionResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:RequestTransactionResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="MerchantQueryWebService">
        <WL5G3N0:operation name="RequestTransactionByTimeInterval" parameterOrder="parameters">
            <WL5G3N0:input message="WL5G3N1:RequestTransactionByTimeInterval"/>
            <WL5G3N0:output message="WL5G3N1:RequestTransactionByTimeIntervalResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="RequestTransactionByTimeIntervalDetailed" parameterOrder="parameters">
            <WL5G3N0:input message="WL5G3N1:RequestTransactionByTimeIntervalDetailed"/>
            <WL5G3N0:output message="WL5G3N1:RequestTransactionByTimeIntervalDetailedResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="RequestTransaction" parameterOrder="parameters">
            <WL5G3N0:input message="WL5G3N1:RequestTransaction"/>
            <WL5G3N0:output message="WL5G3N1:RequestTransactionResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding type="WL5G3N1:MerchantQueryWebService" name="MerchantQueryWebServiceServiceSoapBinding">
        <WL5G3N2:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <WL5G3N0:operation name="RequestTransactionByTimeInterval">
            <WL5G3N2:operation style="document" soapAction="RequestTransactionByTimeInterval"/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal" parts="parameters"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal" parts="parameters"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="RequestTransactionByTimeIntervalDetailed">
            <WL5G3N2:operation style="document" soapAction="RequestTransactionByTimeIntervalDetailed"/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal" parts="parameters"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal" parts="parameters"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="RequestTransaction">
            <WL5G3N2:operation style="document" soapAction="RequestTransaction"/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal" parts="parameters"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal" parts="parameters"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="MerchantQueryWebServiceService">
        <WL5G3N0:port name="MerchantQueryWebServiceSoapPort"
                      binding="WL5G3N1:MerchantQueryWebServiceServiceSoapBinding">
            <WL5G3N2:address location="https://41.223.58.41:8446/MerchantQueryService.asmx"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>