conf/test/apis/AirtelMoneyDirectDebit.wsdl

<WL5G3N0:definitions xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://tempuri.org/"
                     xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" name="MAkibaWebServiceServiceDefinitions"
                     targetNamespace="http://tempuri.org/" xmlns="">
    <WL5G3N0:types>
        <xs:schema xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://tempuri.org/"
                   xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   attributeFormDefault="unqualified" elementFormDefault="qualified"
                   targetNamespace="http://tempuri.org/">
            <xs:element name="DirectDebitAPI">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="UserName" type="xs:string"/>
                        <xs:element name="Password" type="xs:string"/>
                        <xs:element name="CustomerMobileNumber" type="xs:string"/>
                        <xs:element name="Amount" type="xs:decimal"/>
                        <xs:element name="MerchantWalletMsisdn" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DirectDebitAPIResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DirectDebitAPIResult" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="DirectDebitAPI">
        <WL5G3N0:part element="WL5G3N1:DirectDebitAPI" name="parameters"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="DirectDebitAPIResponse">
        <WL5G3N0:part element="WL5G3N1:DirectDebitAPIResponse" name="parameters"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="ServiceSoap">
        <WL5G3N0:operation name="DirectDebitAPI" parameterOrder="parameters">
            <WL5G3N0:input message="WL5G3N1:DirectDebitAPI"/>
            <WL5G3N0:output message="WL5G3N1:DirectDebitAPIResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="MAkibaWebServiceServiceSoapBinding" type="WL5G3N1:ServiceSoap">
        <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="DirectDebitAPI">
            <WL5G3N2:operation soapAction="http://tempuri.org/DirectDebitAPI" style="document"/>
            <WL5G3N0:input>
                <WL5G3N2:body parts="parameters" use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body parts="parameters" use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="MAkibaWebServiceService">
        <WL5G3N0:port binding="WL5G3N1:MAkibaWebServiceServiceSoapBinding" name="ServiceSoapSoapPort">
            <WL5G3N2:address location="https://172.23.100.201:8445/Service1.asmx"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
